@model JNPPortal.Models.ReportsViewModal


@{
    ViewBag.Title = "Driver Anlaysis Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ScriptsOrCss
{

    <link href="~/Content/DataTable/new/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/DataTable/new/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/jszip.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/buttons.html5.min.js" type="text/javascript"></script>
    <script src="~/Content/DataTable/new/buttons.colVis.min.js"></script>
    <link href="~/Content/DataTable/new/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTable/new/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

}

@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small> @ViewBag.Title</small>
        </h1>
    </section>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">

                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div><!-- /.box-header -->

                    <br />

                    <div class="row margin">

                        <div class="col-md-1">
                            @Html.LabelFor(model => model.StartDate)
                        </div>

                        <div class="col-md-2">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker", @style = "width:200px" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-1">
                            @Html.LabelFor(model => model.EndDate)
                        </div>

                        <div class="col-md-2">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker", @style = "width:200px" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-md-1">
                            @Html.LabelFor(model => model.DriverId)
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.DriverId, (SelectList)ViewBag.DriverList, "Select One", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-1">
                            <div class="col-md-1">
                                <input type="submit" name="submit" value="Run Report" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    <br />


                    <div class="box-body table-responsive">

                        <div class="margin">

                            <div class="streaming-table">
                                <span id="found" class="label label-info"></span>


                                <table id="tbDriverAnalysisSummary" class="display nowrap">
                                    <thead>
                                        <tr>
                                            <th>Super Shuttle ID</th>
                                            <th>Pickup Date</th>
                                            <th>Van</th>
                                            <th>Start KM</th>
                                            <th>End KM</th>
                                            <th>KM Run</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Time Worked</th>
                                            <th>Trips</th>
                                            <th>Swipes</th>
                                            <th>Drops</th>
                                            <th>Pax</th>
                                            <th>Transfer</th>
                                            <th>Driver Pre-paid</th>
                                            <th>TTL Pre-paid</th>
                                            <th>Variance Pre-paid</th>
                                            <th>Driver Cash</th>
                                            <th>TTL Cash</th>
                                            <th>Variance Cash</th>
                                            <th>CC/EFTPOS</th>
                                            <th>Taxi Chits</th>
                                            <th>Driver Gross</th>
                                            <th>TTL Gross</th>
                                            <th>Variance Gross</th>
                                            <th>Sur-charges</th>
                                            <th>Telephone Charges</th>
                                            <th>Net</th>
                                            <th>Drvr</th>
                                            <th>Optr</th>
                                            <th>$/Km Net</th>
                                            <th>Contr</th>
                                            <th>DrvrNet</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <div id="summary">
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </section>
}

<script type="text/javascript">

     $(document).ready(function () {

             var startDate = '@ViewBag.StartDate';
             var endDate = '@ViewBag.EndDate';
             var driverId = '@ViewBag.DriverId';


             $("#tbDriverAnalysisSummary").dataTable(
                 {

                    "ajax": {

                        "url": "/Reports/DriverAnalysisSummaryGetGrid?startDate="+ startDate +"&endDate="+ endDate +"&driverId="+driverId ,
                        "type": "GET",
                        "dataType": "json"
                    },

                    "columns": [
                        {
                            "data": "SuperShuttleId",                       
                            "render": function (data, type, row)
                            {

                                var pattern = /Date\(([^)]+)\)/;    //date format from server side
                                var results = pattern.exec(row['PickupDate']);
                                var dt = new Date(parseFloat(results[1]));

                                var startdate1= dt.getFullYear() + "/" + (dt.getMonth() + 1) + "/" + dt.getDate();


                                return "<a href = '/Reports/DriverAnalysisDetail?startDate="+ startdate1 +"&endDate="+ startdate1 +"&driverId="+driverId +"'>" + data + "</a>";
                            },
                        },
                        {
                            "data": "PickupDate", 
                            "render":  function(data, type, full) {
                                return (data) ? moment(data).format('DD/MM/YYYY') : '';
                            }

                        },
                        
                        {
                            "data": "VehicleNumber"
                        },
                        {
                            "data": "ShiftStartKM"
                         
                        },
                        {
                            "data": "ShiftEndKM"
                           
                        },
                        {
                            "data": "ShiftKMRun"
                           
                        },
                        {
                            "data": "ShiftStartTime",
                            
                           "render":  function(data, type, full) {

                            return (data) ? moment(data).format('DD/MM/YYYY hh:mm:ss A') : '';

                           }

                        },
                        {
                            "data": "ShiftEndTime", 
                            "render":  function(data, type, full) {

                            return (data) ? moment(data).format('DD/MM/YYYY hh:mm:ss A') : '';

                        }
                        },
                        {
                            "data": "ShiftTimeWorked" 
                        },
                        {
                            "data": "Trips"
                        },
                        {
                            "data": "Swipes"
                        },
                        {
                            "data": "Drops" 
                        },
                        {
                            "data": "Pax" 
                        },
                        {
                            "data": "Transfer" 
                        },
                        {
                            "data": "DriverPrePaid", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "TTLPrePaid", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "VariancePrePaid", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "DriverCash", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "TTLCash", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "VarianceCash", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "DriverCCEFTPOS", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "DriverTaxiChit", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "DriverGross", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "TTLGross", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "VarianceGross", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "SurCharge", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "TelephoneCharge", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "Net", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "Drvr", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "Optr", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "DollarPerKMNet", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "Contr", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },
                        {
                            "data": "DrvrNet", 
                                 "render": $.fn.dataTable.render.number( ',', '.', 2, '$' )
                        },

                    ],
                    "dom": "Bfrtip",
                    "buttons": ['copy','excel', 'csv', 'colvis'],
                     "order": [[0, "desc"]],
                     "paging": true,
                     "columnDefs": [

                         {
                             "targets": 1, "type": "date-uk"
                         },

                        {
                            "targets": 3, "type": "date-uk"
                         },

                         {
                            "targets": 9, "type": "date-uk"
                         },
                         {
                            "targets": 10, "type": "date-uk"
                         },
                     ],
                 });
         });

</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

        $.validator.addMethod('date', function (value, element, params) {
            if (this.optional(element)) {
                return true;
            }
            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }

            catch (err) {
                ok = false;
            }
            return ok;
        });     
    });
    
</script>

