@model JNPPortal.Models.User

@{

    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<script src="~/Content/TextEditor/jquery-te-1.4.0.min.js"></script>
<link href="~/Content/TextEditor/jquery-te-1.4.0.css" rel="stylesheet" />
<script>
    $('.ckeditor').jqte();
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Edit User</h3>
                    </div><!-- /.box-header -->

                    <div class="alert alert-success alert-dismissable" id="dvMsgUser" style="display:none;">
                        <i class="fa fa-apple"></i>
                        <b> Update Successfully. </b>
                    </div>
                    <!-- form start -->

                    <div role="form">
                        <div class="box-body">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, new { @class = "" })
                                @Html.EditorFor(model => model.Username) @Html.ValidationMessageFor(model => model.Username)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "" })
                                @Html.EditorFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "" })
                                @Html.EditorFor(model => model.FirstName) @Html.ValidationMessageFor(model => model.FirstName)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "" })
                                @Html.EditorFor(model => model.LastName) @Html.ValidationMessageFor(model => model.LastName)
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "" })
                                @Html.EditorFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email)
                            </div>*@

                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.DriverId, new { @class = "" })
                            @Html.DropDownListFor(model => model.DriverId, (SelectList)ViewBag.DriverList, "Select One", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger" })
                        </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Admin, new { @class = "" })
                                @Html.EditorFor(model => model.Admin) @Html.ValidationMessageFor(model => model.Admin)
                            </div>

                            <div class="box-footer">


                                @*History Back*@
                                @if (Request.UrlReferrer != null)
                                {
                                    <div class="col-md-1">
                                        <a href=@Request.UrlReferrer class="btn btn-primary">
                                            <i class="fa fa-home">
                                                Back
                                            </i>
                                        </a>
                                    </div>
                                }

                                <input type="submit" name="submit" value="Save" class="btn btn-primary" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


<script>
    $(function () {
        $("#roles-multiselect").chosen();
        width: "100%"

    });
</script>




